*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}

html{
  font-size: 14px;
  scroll-behavior: smooth;
}

.first{
  height: 111vh;
}

.shift{
  margin-left: 40rem;
}

.small{
  font-size: small;
}

.icon{
  font-size: 1.7rem;
}
.icons{
  font-size: 2.5rem;
  color: #ecec06;
}

.navbar-brand{
  margin-left: 5rem;
}

.current{
  background-color: #c5cbce;
  width: 20vw;
  border-right: blue 0.3rem solid;
}

.p1{
  border-right: solid 1px rgb(29, 28, 28);
  height: 110vh;
}

.target{
  border-bottom: solid 1px #292828;
}

.num{
  font-size: 1rem;
}

.img{
  width:10vw;
  height:15vh;
  border-radius: 5px;
} 

.img1{
  width: 10vw;
  height: 20vh;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}
.mid{
  margin:1.5rem 2rem 2rem 2rem ;
}

.middle{
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

footer .pane{
  height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
}

footer .last{
  height: 30vh;
  width: 95vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex{
  display: flex;
  flex-direction: column;
}

.phase{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.usual{
  width:95vw;
  height:8vh;
}

@media screen and (max-width:1024px){
  
.first{
  height: 52vh;
}

.shift{
  margin-left: 30rem;
}

.small{
  font-size: small;
}

.icon{
  font-size: 1.3rem;
}
.icons{
  font-size: 2.5rem;
  color: #ecec06;
}

.navbar-brand{
  margin-left: 5rem;
}

.current{
  background-color: #c5cbce;
  width: 15vw;
  border-right: blue 0.3rem solid;
}

.p1{
  border-right: solid 1px rgb(29, 28, 28);
  height: 52vh;
}

.target{
  border-bottom: solid 1px #292828;
}

.num{
  font-size: 1rem;
}

.img{
  width:5vw;
  height:5vh;
  border-radius: 5px;
} 

.img1{
  width: 5vw;
  height: 10vh;
  margin-left: 1rem;
  margin-bottom: 0.5rem;
}
.mid{
  margin:1.5rem 2rem 2rem 2rem ;
}

.middle{
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

footer .pane{
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
}

footer .last{
  height: 10vh;
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.usual{
  height:5vh;
}
}

@media screen and (max-width:480px){
      
.first{
  height: 200vh;
}

.shift{
  margin-left: 30rem;
}

.small{
  font-size: small;
}

.icon{
  font-size: 1.1rem;
}
.icons{
  font-size: 1.7rem;
  color: #ecec06;
}

.navbar-brand{
  margin-left: 5rem;
}

.current{
  background-color: #c5cbce;
  width: 20vw;
  border-right: blue 0.3rem solid;
}

.p1{
  border-right: solid 1px rgb(29, 28, 28);
  height: 65vh;
}

.target{
  border-bottom: solid 1px #292828;
}

.num{
  font-size: 1rem;
}

.img{
  width:10vw;
  height:10vh;
  border-radius: 5px;
} 

.img1{
  width: 10vw;
  height: 20vh;
  margin-left: 1rem;
}
.mid{
  margin:1.5rem 2rem 2rem 2rem ;
}

.middle{
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

footer .pane{
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
}

footer .last{
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.usual{
  height:5vh;
}
}