*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}

html{
  font-size: 14px;
  scroll-behavior: smooth;
}

.first{
  height: 200vh;
}

.shift{
  margin-left: 40rem;
}

.small{
  font-size: small;
}

.icon{
  font-size: 1.7rem;
}

.navbar-brand{
  margin-left: 5rem;
}

.current{
  background-color: #c5cbce;
  width: 20vw;
  border-right: blue 0.3rem solid;
}

.p1{
  border-right: solid 1px rgb(29, 28, 28);
  height: 110vh;
}

.container{
  border-top:solid 1px black ;
}

.num{
  font-size: 1rem;
}

.img{
  width:10vw;
  height:15vh;
  border-radius: 5px;
} 
.mid{
  margin:1.5rem 2rem 2rem 2rem ;
}

.middle{
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

